/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-color: #000;
    --bg-color: #fff;
    --font-main: 'Inter-Variable';
    --font-accent: 'PressStart2P';
    --font-weight-text: 410;
    --font-weight-heading: 715;
    --background-gradient: 
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --block-width: clamp(375px, calc(260.563px + 30.516vw), 700px);
    --header-height: clamp(327px, calc(312.563px + 3.85vw), 368px);
    --dialog-width: clamp(341px, calc(336.775px + 1.127vw), 353px);
    --border: 2px solid var(--accent-color);

    --font-size-logo: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-size-logo_span: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    
    --text-stroke-color: #fff;

    --animation-fill-color: #ff0000;
    --contour-color: var(--accent-color);
}